{%- doc -%}
  Intended for use in a block similar to the text block.

  @param {string} [class] - custom class to define in addition to text-block classes
  @param {string} [fallback_text] - fallback text if settings.text does not exist
  @param {object} [block] - The block object
  @param {string} [width] - width of the text block
{%- enddoc -%}

{% liquid
  assign block_settings = block.settings
  assign plain_text = block_settings.text | strip_newlines | strip
  assign visible_text = plain_text | strip_html
  assign text_width = width | default: block_settings.width

  if block_settings.font_size contains 'heading-lg' or block_settings.font_size contains 'heading-xl'
    assign type = 'display'
  elsif block_settings.font_size contains 'heading'
    assign type = 'heading'
  else
    assign type = 'body'
  endif
  if block_settings.type_preset == 'rte' or block_settings.type_preset == 'paragraph'
    assign is_rte = true
  endif

  capture text_block_classes
    if text_width == '100%'
      echo 'text-block--align-' | append: block_settings.alignment
      if block_settings.max_width == 'none'
        echo ' text-block--full-width '
      endif
    endif
    if block_settings.type_preset == 'custom'
      echo ' custom-typography '
      if block_settings.font_size != ''
        echo ' custom-font-size '
      endif
      if block_settings.color != ''
        echo ' custom-color '
      endif
    endif
    if block_settings.background
      echo ' text-block--background '
    endif
    if is_rte
      echo ' rte '
    endif
  endcapture
%}

{% capture attributes %}
  class="{{ class }} spacing-style text-block text-block--{{ block.id }} {{ block_settings.type_preset }}
    {{ text_block_classes }}
  "

  style="
    {% render 'spacing-padding', settings: block_settings %}
    {% render 'typography-style', settings: block_settings %}
    --width: {{ text_width }};
    --max-width: var(--max-width--{{ type }}-{{ block_settings.max_width }});
    {% if text_width == "100%" %}
      --text-align: {{ block_settings.alignment }};
    {% endif %}
    {% if block_settings.background %}
      --text-background-color: {{ block_settings.background_color | default: 'rgb(255 255 255 / 1.0)' }};
      --text-corner-radius: {{ block_settings.corner_radius }}px;
      --text-padding: max(var(--padding-2xs), calc((var(--text-corner-radius) + var(--padding-xs)) * (1 - cos(45deg))));
    {% endif %}
  "

  {{ block.shopify_attributes }}
{% endcapture %}

{% liquid
  # {{ attributes }} must be on the immediate HTML parent of the text to preserve
  # the click-to-edit connection in the theme editor. Any break between the text,
  # including if-statements, will break the connection.

  assign element = 'div'
  if is_rte
    assign element = 'rte-formatter'
  endif
%}

{% if fallback_text != blank and visible_text == blank %}
  <div {{ attributes | strip_newlines | strip }}>
    {{ fallback_text }}
  </div>
{% elsif plain_text != blank %}
  {% liquid
    assign rendered_text = block.settings.text
    assign should_render_vendor_logo = false
    if request.page_type == 'collection'
      assign is_collection_title_text = false
      if rendered_text contains 'closest.collection.title'
        assign is_collection_title_text = true
      elsif rendered_text contains closest.collection.title
        assign is_collection_title_text = true
      endif

      if is_collection_title_text
        assign current_vendor = closest.collection.current_vendor | default: collection.current_vendor | strip
        if current_vendor != blank
          assign rendered_text = rendered_text | replace: '{{ closest.collection.title }}', current_vendor
          assign collection_title_fallback = closest.collection.title | default: collection.title
          assign rendered_text = rendered_text | replace: collection_title_fallback, current_vendor

          assign vendor_handle = current_vendor | handleize
          assign vendor_brand_definition = metaobjects.vendor_brand
          if vendor_brand_definition != blank
            for vendor_brand in vendor_brand_definition.values
              assign entry_vendor_name = vendor_brand.vendor_name.value | default: vendor_brand.system.handle
              assign entry_vendor_handle = entry_vendor_name | handleize

              if entry_vendor_handle == vendor_handle
                assign vendor_heading_logo = vendor_brand.logo.value
                break
              endif
            endfor
          endif

          if vendor_heading_logo != blank
            assign should_render_vendor_logo = true
            assign vendor_heading_logo_alt = vendor_heading_logo.alt | default: current_vendor

            assign vendor_heading_justify = 'flex-start'
            if text_width == '100%'
              if block_settings.alignment == 'center'
                assign vendor_heading_justify = 'center'
              elsif block_settings.alignment == 'right'
                assign vendor_heading_justify = 'flex-end'
              endif
            endif
          endif
        else
          assign selected_type = request.query_string | split: 'filter.p.product_type=' | last
          assign selected_type = selected_type | split: '&' | first
          if selected_type != blank and selected_type != request.query_string
            assign selected_type = selected_type | replace: '+', ' ' | url_decode
            if rendered_text contains '</h1>'
              assign selected_type_suffix = ' - ' | append: selected_type | append: '</h1>'
              assign rendered_text = rendered_text | replace: '</h1>', selected_type_suffix
            endif
          endif
        endif
      endif
    endif
  %}
  {% if should_render_vendor_logo %}
    <div {{ attributes | strip_newlines | strip }}>
      <div
        class="vendor-collection-heading"
        style="--vendor-collection-heading-justify: {{ vendor_heading_justify }};"
      >
        {{
          vendor_heading_logo
          | image_url: width: 420
          | image_tag:
            class: 'vendor-collection-heading__image',
            widths: '180, 240, 320, 420, 560',
            loading: 'eager',
            alt: vendor_heading_logo_alt
        }}
      </div>
    </div>
  {% else %}
    <{{ element }} {{ attributes | strip_newlines | strip }}>
      {{ rendered_text }}
    </{{ element }}>
  {% endif %}
{% endif %}

{% stylesheet %}
  :root {
    --text-align-default: left;
  }

  [style*='--horizontal-alignment: center'] .text-block {
    --text-align-default: center;
  }

  [style*='--horizontal-alignment: flex-end'] .text-block {
    --text-align-default: right;
  }

  [style*='--horizontal-alignment: flex-start'] > .text-block {
    --text-align-default: left;
  }

  [style*='--horizontal-alignment: center'] > .text-block {
    --text-align-default: center;
  }

  [style*='--horizontal-alignment: flex-end'] > .text-block {
    --text-align-default: right;
  }

  .text-block {
    width: var(--width);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: var(--horizontal-alignment);
  }

  .text-block > * {
    width: var(--width);
    max-inline-size: min(100%, var(--max-width, 100%));
    text-align: var(--text-align, var(--text-align-default));
    text-wrap: var(--text-wrap);
  }

  .text-block:not(.text-block--full-width).rte,
  .text-block:not(.text-block--full-width).paragraph {
    /* Safari doesn't support pretty, so fallback to balance */
    text-wrap: balance;
    text-wrap: pretty;
  }

  .text-block:not(.text-block--full-width):is(.h1, .h2, .h3, .h4, .h5, .h6) {
    text-wrap: balance;
  }

  /* Hide underline unless text is using paragraph styles. */
  .text-block:is(.h1, .h2, .h3, .h4, .h5, .h6) a {
    text-decoration-color: transparent;
  }

  .text-block h1,
  .text-block.h1 > * {
    margin-block: var(--font-h1--spacing);
  }

  .text-block h2,
  .text-block.h2 > * {
    margin-block: var(--font-h2--spacing);
  }

  .text-block h3,
  .text-block.h3 > * {
    margin-block: var(--font-h3--spacing);
  }

  .text-block h4,
  .text-block.h4 > * {
    margin-block: var(--font-h4--spacing);
  }

  .text-block h5,
  .text-block.h5 > * {
    margin-block: var(--font-h5--spacing);
  }

  .text-block h6,
  .text-block.h6 > * {
    margin-block: var(--font-h6--spacing);
  }

  .text-block p,
  .text-block.p > * {
    margin-block: var(--font-paragraph--spacing);
  }

  .text-block > *:first-child {
    margin-block-start: 0;
  }

  .text-block > *:last-child {
    margin-block-end: 0;
  }

  .vendor-collection-heading {
    display: flex;
    justify-content: var(--vendor-collection-heading-justify, flex-start);
    width: 100%;
  }

  .vendor-collection-heading__image {
    display: block;
    width: auto;
    max-width: min(100%, 22rem);
    max-height: 4.5rem;
    height: auto;
    object-fit: contain;
  }

  .text-block--align-center,
  .text-block--align-center > * {
    margin-inline: auto;
  }

  .text-block--align-right,
  .text-block--align-right > * {
    margin-inline-start: auto;
  }

  .text-block--background {
    background-color: var(--text-background-color);
    border-radius: var(--text-corner-radius);

    /* To avoid text being cropped when using a border radius we add a minimum padding. */
    padding-block-start: max(var(--text-padding), var(--padding-block-start, 0));
    padding-block-end: max(var(--text-padding), var(--padding-block-end, 0));
    padding-inline-start: max(var(--text-padding), var(--padding-inline-start, 0));
    padding-inline-end: max(var(--text-padding), var(--padding-inline-end, 0));
  }

  .custom-color,
  .custom-color > :is(h1, h2, h3, h4, h5, h6, p, *) {
    color: var(--color);
  }
{% endstylesheet %}
